.Globo-header-mobile {
  width: 30px;
  height: 30px;

}

.Logo-header-mobile {
  color: white;
}

.Menu-header-mobile {
  font-size: 100px;
  align-items: center;
}

.fs-barra-fixa {
  font-size: 12px;
}