body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.imagem {
  width: 95%;
  height: auto;
}


.time {
  display: flex;
  justify-content: space-between;
}

.music-player {
  width: 300px;
  margin: 50px auto;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.3);
  color: white;
  padding: 20px;
  position: relative;
}

.NewMusic {
  padding: 2.5px 5px;
  background: orange;
  position: absolute;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.controls button:hover {
  color: black;
}


.seek-bar input[type="range"] {
  width: 100%;
  background-color: #999999;
  height: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
}

.seek-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(../images/globo.png);
  background-size: cover;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.seek-bar input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #999999;
  border-radius: 2px;
}

/* Estilos padrão para a barra de busca */
.seek-bar input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-image: url(../images/globo.png);
  background-size: cover;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.seek-bar input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-image: url(../images/globo.png);
  background-size: cover;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.seek-bar input[type="range"]::-ms-thumb {
  /* Seus estilos existentes para o polegar (bolinha) */
  width: 20px;
  height: 20px;
  background-image: url(../images/globo.png);
  background-size: cover;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

/* Consulta de mídia para dispositivos móveis */
@media (max-width: 768px) {

  .seek-bar input[type="range"]::-webkit-slider-thumb {
    /* Ajuste os estilos para dispositivos móveis aqui */
    width: 16px;
    /* Ajuste a largura para melhor alinhamento em dispositivos móveis */
    height: 16px;
    /* Ajuste a altura para melhor alinhamento em dispositivos móveis */
  }

  .seek-bar input[type="range"]::-moz-range-thumb {
    /* Ajuste os estilos para dispositivos móveis aqui */
    width: 16px;
    /* Ajuste a largura para melhor alinhamento em dispositivos móveis */
    height: 16px;
    /* Ajuste a altura para melhor alinhamento em dispositivos móveis */
  }


  .seek-bar input[type="range"]::-ms-thumb {
    /* Ajuste os estilos para dispositivos móveis aqui */
    width: 16px;
    /* Ajuste a largura para melhor alinhamento em dispositivos móveis */
    height: 16px;
    /* Ajuste a altura para melhor alinhamento em dispositivos móveis */
  }
}